<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <!-- Esto permite que se vean bien las tildes y la ñ -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Esto hace que la página se vea bien en celulares y tablets -->

  <title>Focus Study</title>
  <link rel="stylesheet" href="descanso.css">
  <!-- El nombre que aparece en la pestaña del navegador -->
</head>

<body>
  <nav class="navbar">
  <!-- <nav> es una etiqueta especial para menús de navegación -->
    <!-- Logo o nombre de la web en la esquina izquierda -->
    <div class="nav-logo">
      <span class="logo-text">FS</span>
      <!-- Solo las iniciales del proyecto -->
    </div>
  </nav>
  <div class="textocentral">
    <img src="https://previews.123rf.com/images/avaicon/avaicon2201/avaicon220100857/180707839-coffee-cup-icon-cup-a-coffee-sign-and-symbol.jpg" alt="café" height="50" width="50">
    <h1>¡Descanso!</h1>
    <h4>Haz completado un ciclo. Tómate un tiempo para recargar energías.</h4>
  </div>
  <div class="bloques">
    <div class="bloqueizquierdo">
      <img src="https://img.freepik.com/vector-premium/garabato-globo-morado_650511-1686.jpg" alt="imagen" height="120" width="120"/>
      <h2>Mensaje motivacional</h2>
      <h4>Relájate, toma un descanso<br>hidrátate y volvemos en<br> un rato.<br>Confía, lo harás bien</h4>
      <button class="mensajemotivacional">Ver mensaje</button>
    </div>
    <div class="bloquederecho">
      <img src="https://media.istockphoto.com/id/1478027209/es/vector/esterilla-de-yoga-p%C3%BArpura-enrollada-sobre-un-fondo-blanco-aislado-vector-esterilla-de-yoga.jpg?s=612x612&w=0&k=20&c=d56Er2rOdPVaniY4Q3SP8qVTjdDQzSocjE0SP2-xhg8=" alt="imagen" height="120" width="120"/>
      <h2>Relajación guiada</h2>
      <h4>Estiramientos y ejercicios<br>para liberar tensión y <br> relajar tu cuerpo</h4>
      <button class="botonvideo">Ver video</button>
    </div>
  </div>
  <div class="textoabajo">
    <button class="botonomitirdescanso">Omitir descanso</button>
    <h4>El siguiente ciclo comenzará pronto.</h4>
  </div>
</body>

</html>