<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <!-- Esto permite que se vean bien las tildes y la ñ -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Esto hace que la página se vea bien en celulares y tablets -->

  <title>Focus Study</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
  <!-- El nombre que aparece en la pestaña del navegador -->
</head>

<body>
   <video autoplay muted loop id="bg-video">
    <source src="{{ url_for('static', filename='css/video2i.mp4') }}" type="video/mp4">
  </video>
   <div class="decoracion"></div>
    <div class="titulo"></div>
  <!-- parte de arriba-->
  <nav class="navbar">
    <!-- <nav> es una etiqueta especial para menús de navegación -->

    <!-- Logo o nombre de la web en la esquina izquierda -->
    <div class="nav-logo">
      <span class="logo-text">FS</span>
      <!-- Solo las iniciales del proyecto -->
    </div>
  </nav> 
  <div class="contenedor-button">
    <button class="buttonqs"><a href="{{ url_for('quienesomos') }}">¿Quienes somos?</a></button>
    <button class="buttonlogin"><a href="{{ url_for('login') }}"> Login</a></button>
  </div>

  <!-- ===== SECCIÓN PRINCIPAL (el centro de la página) ===== -->
  <div class="hero">
    <!-- <main> es el contenido principal de la página -->

    <!-- Subtítulo pequeño encima del nombre -->
    <p class="getxo">Método · Enfoque · Resultado</p>
    <!-- Nombre principal de la página -->
      <div class="contenedor">
        <!--"contenedor" es como lo reconocerá el css-->
        <h1>Focus<br>Study</h1>
      </div>
    <!-- Frase de enganche -->
   <p class="tagline">Estudia menos. Aprende más.<br>
  <span class="resaltar">El método correcto lo cambia todo.</span></p>

    <!-- Pequeños íconos/etiquetas de los métodos de estudio disponibles -->
    <div class="methods">
      <!-- Cada <span> representa un método de estudio -->
      <span class="methodpom">Pomodoro</span>
      <span class="method-tag">Feynman</span>
      <span class="method-tag">Active Recall</span>
      <span class="method-tag">Corner</span>
    </div>

  </main>
</body>

</html>
