<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- Esto permite que se vean bien las tildes y la ñ -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Esto hace que la página se vea bien en celulares y tablets -->

    <title>Login</title>
    <!-- El nombre que aparece en la pestaña del navegador"-->
    <link rel="stylesheet" href="login3.css"/> 
</head>
<body>
    <nav class="navbar">
        <!-- <nav> es una etiqueta especial para menús de navegación -->
        <!-- Logo o nombre de la web en la esquina izquierda -->
        <div class="nav-logo">
            <span class="logo-text">FS</span>
            <!-- Solo las iniciales del proyecto -->
        </div>
    </nav> 
    <div class="botonini">
        <button class="buttonlogin"><a href="inicio.html">Volver al inicio</a></button>
    </div>
    <div class="recuadro">
        <div class="titulo">
            <h1>Iniciar sesión<br></h1>
            <h4>Bienvenido de vuelta<br></h4>
        
            <form>
                <label><h5>Correo electrónico</h5></label>
                <input type="text"/>

                <label><h5>Contraseña</h5></label>
                <input type="text"/>
            </form>
            <!--class="botonlogin"-->
            <button class="buttonlogin">
                <a href="paginaprincipal.html">Iniciar sesión</a>
            </button>
            <h4>Este inicio de sesión es solo <br>para fines de demostración</h4>
        </div>
    </div>   
</body>
