<!DOCTYPE html>
<html lang="es">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>¿Quienes Somos?</title>
    <link rel="stylesheet" href="quienesomos.css" />
</head>

<body>
    <nav class="navar">
        <div class="nav-logo">
      <span class="focus-text">Focus Study</span>
      <!-- Solo las iniciales del proyecto -->
    </div>
    </nav>

    <div class="contenedorqs">
        <h1>¿Quienes Somos?<br></h1>
        <h3>Nuestro Propósito<br></h3>
        <h5>Ayudar a los estudiantes a desarrollar mejores habitos<br> de estudio con métodos basados en evidencia<br></h5>
        <h3>El Problema</h3>
        <h5>Falta de concentración y métodos ineficientes<br> afectan el aprendizaje y el rendimiento</h5>
        <h3>Nuestra Filosofía</h3>
        <h5>Creemos en el aprendizaje consciente,<br> constante y enfocado</h5>
        <h3>¿Por qué lo Empezamos?</h3>
        <h5>Porque entendemos los desafios del estudio<br> y queremos hacer algo más simple y efectivo</h5>

        <ul>
            <li>
                <a href="inicio.html">Volver al inicio</a>
            </li>
        </ul>
    </div>   
</body>