<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
         <!-- Esto permite que se vean bien las tildes y la ñ -->

         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Esto hace que la página se vea bien en celulares y tablets -->

        <title>Zona de Estudio</title>
        <!-- El nombre que aparece en la pestaña del navegador -->
        <link rel="stylesheet" href="zonadestudio.css" />
    </head>
    <body>
        <title>Zona de Estudio</title>
        <div class="contenedortitulo">
            <h1>Zona de Estudio</h1>
            <h3>¿Qué deseas hacer hoy?</h3>
        </div>
        <div class="contenedor-botones">
            <button class="boton"><h2>Concentrase</h2><br>Mejora tu enfoque y <br>reduce distracciones</button>
            <button class="boton"><h2>Memorizar</h2><br>Recuerda información de<br> forma efectiva</button>
            <button class="boton"><h2>Entender</h2><br> Comprende a fondo cualquier<br>tema</button>
        </div>

        <div class="contenedorelegir">
            <h3>O elige un método directamente</h3>
        </div>

        <div class="contenedor.botonze">
            <button class="buttonpom">Pomodoro</button>
            <button class="buttonfey">Feynmann</button>
            <button class="buttonar">Active Recall</button>
            <button class="buttoncn">Cornell Notes</button>
        </div>
    </body>
</html>

